/* Base sidebar styling */
.sidebar {
    background-color: #3B1E54;
    color: #ffffff;
    padding: 1rem;
    min-width: 250px;
    height: 130vh;
    transition: all 0.3s ease-in-out; 
    overflow: hidden;
    position: fixed; 
    left: -250px; 
    z-index: 999; 
    
    .nav-header {
      margin-bottom: 2rem;
      margin-left: 2em;
      margin-top:2rem;
  
      h2 {
        font-size: 1.5rem;
      }
    }
  
    .nav-links {
      list-style: none;
      padding: 2rem;
      padding: 15px 32px; 
  
      li {
        margin-bottom: 3rem;
        
  
        a {
          color: #ffffff;
          text-decoration: none;
        
          &:hover {
            text-decoration: none; 
            color: #3B1E54; 
            background-color: #ffffff; 
            border-radius: 10px;
            padding: 15px 32px; 
          }
        }
        
        
      }
    }

    @media (min-width: 769px) {
      position: static;
      width: 200px;
    }
  
    @media (max-width: 768px) {
      &.open {
        left: 0;
      }
    }
  }
  
  /* Navbar and hamburger styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  
    .navbar-search {
      flex-grow: 1;
      input {
        width: 100%;
        max-width: 400px;
        margin-right: auto;
      }
    }
  
    .navbar-icons {
      display: flex;
      align-items: center;
      gap: 20px; 
  
      i {
        font-size: 1.5rem; 
        cursor: pointer;
      }
    }
  
    .navbar-hamburger {
      display: none;
      cursor: pointer;
      font-size: 2rem; 
    }
  
    @media (max-width: 768px) {
      .navbar-icons {
        display: none;
      }
  
      .navbar-hamburger {
        display: block;
      }
  
      .navbar-search {
        flex-grow: 0;
        width: 70%;
      }
    }
  }
  